.app {
  font-family: sans-serif;
}
 
.card-prod {
  max-width: 750px;
  margin: 0 auto;
  padding: 45px 30px;
  border: 1px solid #ddd;
  border-top: none;
}
 
.card-prod .nome {
  margin: 0;
  font-size: 45px;
  font-weight: 500;
}
 
.card-prod .preco {
  margin: 50px 0 0;
  font-size: 35px;
  color: #888;
}
 
.funcionario {
  max-width: 750px;
  margin: 0 auto;
  padding: 50px 24px;
  border: 1px solid #ddd;
  border-top: none;
}
 
.funcionario p {
  margin: 20px 0;
  font-size: 40px;
}



.login {
  max-width: 750px;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-top: none;
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
 
.login h2 {
  font-size: 75px;
  font-weight: 750;
  margin: 0 0 4px;
  text-align: center;
  color: #333;
}
 
.login input {
  padding: 15px 10px;
  border: 3px solid #ccc;
  border-radius: 4px;
  font-size: 13px;
  outline: none;
}
 
.login input:focus {
  border-color: #000000;
}
 
.login button {
  padding: 20px;
  background: #2941c9;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  font-size: 13px;
  cursor: pointer;
}
 
.login button:hover {
  background: #000000;
}
 
.login a {
  font-size: 20px;
  color: #000000;
  text-align: center;
  text-decoration: none;
}
 
.login a:hover {
  text-decoration: underline;
}
 